.oleg-button {
    width: 150px;
    height: 100px;

    display: flex;

    align-items: center;
    justify-content: center;

    margin: 10px;

    border: rgb(255, 255, 255, 0.5) solid 1px;
}

.oleg-button:hover {
    box-shadow: 1px 1px 2px 2px rgb(255, 255, 255, 0.25), -1px -1px 2px 2px rgb(255, 255, 255, 0.25);
}

.oleg-button__title {
    color: #ffffff;
    display: flex;
}