.oleg-image{

    width: 40vw;

    z-index: 100;
    position: relative;
    transform: rotate(90deg);
    animation: appear 2s;
}

.oleg-image__container{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}



@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(90deg);
    }
    25% {
        opacity: 1;
        transform: rotate(85deg);
    }
    75% {
        opacity: 1;
        transform: rotate(95deg);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%) rotate(90deg);
    }
}